### Linear Regression:--

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('height-weight.csv')
df.head()

   Weight  Height
0      45     120
1      58     135
2      48     123
3      60     145
4      70     160

In [3]:
df.tail()

    Weight  Height
18      76     150
19      87     167
20      45     129
21      56     140
22      72     160

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Weight  23 non-null     int64
 1   Height  23 non-null     int64
dtypes: int64(2)
memory usage: 500.0 bytes

In [5]:
df.describe()

           Weight      Height
count   23.000000   23.000000
mean    73.826087  158.391304
std     17.872407   19.511626
min     45.000000  120.000000
25%     59.000000  142.500000
50%     78.000000  162.000000
75%     86.000000  175.000000
max    105.000000  183.000000

In [6]:
df.isnull().sum()

Weight    0
Height    0
dtype: int64